html {
    background-color: #2f2f2f;
    color: #00ff15;
    font-family: Orbitron; 
    margin: 0;
}
.content-area {
    background-color: transparent;
    color: #00ff15;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #161616c5;
    overflow-x: hidden;
    transition: 0.5s;
}  
.overlay-content {
    overflow: hidden;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 45px;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
} 
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
.menu-thumbnail {
    border: 2px solid #00ff15;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px; 
    height: 110px;
    width: 110px; 
}
.footer span {
    cursor:pointer;
}
.footer {
    color: #00ff15;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2f2f2f;
}
.footer i {
    color: #00ff15;
    font-size: 24px;
    text-decoration: none;
}
.footer p,a,span {
    text-align: center;
    text-decoration:none;
    color: #00ff15;
    margin-top: 10px;
    margin-bottom: 10px;
}
.large-footer-button {
    margin-left: 20px;
    margin-right: 20px;
}






custom-element .right {
    margin-right: 15px;
}
custom-element .left {
    margin-left: 15px;
}