html {
    background-color: #00ab7d;
    color: #6d3c62;
    margin: 0;
}
.content-area {
    background-color: white;
    margin: 50px;
    color: #000;
    width: 50%;
    height: 75%;
}
.search-box {

}