html {
    background-color: #00ab7d;
    color: #6d3c62;
    margin: 0;
}
.content-area {
    background-color: #fff;
    margin: 50px;
    color: #000;
    width: 94.5%;
    height: 90%;
}
.content-area h1 {
    align: center;
    color: #5e5e5e;
}
.search-box {
    color: #000;
}
.footer {
    border-top: solid 3px #000;
    color: #D4D4D4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F2F2F;
    }
    .footer p,a {
    text-align: center;
    text-decoration:none;
    color: #D4D4D4;
    margin: 10px;
}