html {
    background-color: #2f2f2f;
    color: #00ff15;
    font-family: Orbitron; 
    margin: 0;
}
.content-area {
    background-color: transparent;
    color: #00ff15;
}
.footer {
    border-top: solid 1px #00ff15;
    color: #00ff15;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2f2f2f;
}
.footer p,a {
    text-align: center;
    text-decoration:none;
    color: #00ff15;
    margin: 10px;
}