html {
    background-color: #2f2f2f;
    color: #fff;
    margin: 0;
}
.content-area {
    background-color: aquamarine;
    color: #000;
}
.footer {
    border-top: solid 3px #000;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2f2f2f;
}
.footer p,a {
    text-align: center;
    text-decoration:none;
    color: #fff;
    margin: 10px;
}